.best{
  width: 300px;
  margin: auto;
  text-align: center;
  padding: 30px 80px;
}


h2{
  color: orange;
}

span{
  display: block;
  text-align: left;
  text-indent: 35px;
}

img{
  width: 100px;
}