<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <!-- Axios CDN -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
  <h1>회원가입</h1>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <input type="text" name="userId" placeholder="아이디"/><br />
    <input type="password" name="userPw" placeholder="비밀번호" /><br />
    <input type="text" name="userName" placeholder="이름" /><br />
    <input type="number" name="userAge" placeholder="나이" /><br />
    <input type="file" name="userFile" /><br />
    <button type="submit" onclick="uploadProfile()" >회원가입</button>
  </form>

  <script src="/static/js/profile.js"></script>
</body>
</html>