<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/static/css/profile.css" />
</head>
<body>
  <div class="profile-card">
    <img src="" alt="" class="profile-pic">
    <h2>banana님 환영합니다!</h2>
    <div class="profile-info">
      <p>비밀번호: 1234</p>
      <p>이름: 바나나</p>
      <p>나이: 20</p>
    </div>
  </div>
</body>
</html>