<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <label for="name">이름</label>
  <input type="text" id="name"/>
  <fieldset>
    <legend>성별</legend>
    <input type="radio" name="gender" id="male" />
    <label for="male">남성</label>
    <input type="radio" name="gender" id="female" />
    <label for="female">여성</label>
  </fieldset>
  <fieldset>
    <legend>생년월일</legend>
    <select name="year" id="year">
      <option value="">선택</option> 
      <option value="2023">2023</option> 
      <option value="2022">2022</option> 
      <option value="2021">2021</option> 
      <option value="2020">2020</option>
    </select>
    <label for="year">년</label>
    
    <select name="month" id="month">
      <option value="">선택</option> 
      <% for(let i=1;i<=12;i++){ %>
         <option value="<%= (i < 10) ? '0'+i : i %>"><%= i %></option> 
      <% } %>
    </select>
    <label for="month">월</label>


    <select name="day" id="day">
      <option value="">선택</option> 
      <option value="01">1</option> 
      <option value="02">2</option> 
      <option value="03">3</option>
    </select>
    <label for="day">일</label>
  </fieldset>
  <fieldset>
    <legend>관심사</legend>
    <input type="checkbox" name="interest" id="travel" />
    <label for="travel">여행</label>
    <input type="checkbox" name="interest" id="fashion" />
    <label for="fashion">패션</label>
    <input type="checkbox" name="interest" id="food" />
    <label for="food">음식</label>
  </fieldset>

  
</body>
</html>