<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>
<body>
  <h1>HOME</h1>
  <nav>
    <a href="/">Home</a>
    <a href="/about">about</a>
  </nav>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae quo ipsa laboriosam praesentium nam, architecto dolor recusandae. Tempore hic minima eum tenetur nostrum quidem iure molestias debitis, officia adipisci aperiam?</p>
</body>
</html>