/* 하위(후손) 선택자 : 공백(띄어쓰기) */
body section{
    /* 경계선 : 선두께 선종류 선색상 */
    border: 1px solid blue;
}

body section h2{
    border: 1px solid green;
}

/* 자식선택자 :  > */
.first>h2{
    color: white;
    background-color: navy;
}

.second>h2{
    color: navy;
    background-color: wheat;
}

/* 인접 형제 선택자 : + */
/* 주의) girl이라는 아이디를 갖는 요소 바로뒤에 li태그가 잇어야함 */
#girl+li{
    background-color: aqua;
}
#girl+span{
    background-color: pink;
}

/* 일반 형제 선택자 : ~ */
#girl~li{
    color: red;
}

/* css 색상 */
/* 
    1. 색상키워드 : red, blue, aqua, white
    
    2. 16진수 코드 : #xxxxxx
    0~9, a,b,c,d,e,f : 16개의 기호로 표현
    - #ffffff: Red(ff), Green(ff), Blue(ff)->white
    - #000000: Red(00), Green(00), Blue(00)->black

    3.rgb(0~255, 0~255, 0~255)
    -rgb(255,255,255) ->white
    -rgb(0,0,0) ->black
*/

