.square{
  width: 100px;
  height: 100px;
  border: 1px solid black;
  /* 텍스트가 한줄일때 */
  text-align: center;
  line-height: 100px;
}

.d-none{
  background-color: blue;
  display: none;
}
.invisible{
  background-color: lightblue;
  visibility: hidden;
}
.opacity-0{
  background-color: lightcyan;
  opacity: 0.3;
}