.stripes>*{
    background-color: blue;
}

.stripes>:nth-child(2){
    background-color: yellow;
}
.stripes>:nth-child(6){
    background-color: yellow;
}
.stripes>:nth-child(10){
    background-color: yellow;
}

.stripes>:nth-child(2),
.stripes>:nth-child(6),
.stripes>:nth-child(10){
    background-color: pink;
}

/* 
    odd : 홀수 번째 요소를 선택합니다.
    even : 짝수 번째 요소를 선택합니다.
    2n+1 : odd와 같습니다. 홀수 번째 요소를 선택하게 됩니다.
    2n : even과 같습니다. 짝수 번째 요소를 선택하게 됩니다.
    5n : 5의 배수 번째 요소를 선택합니다.
    7 : 7번째 요소를 선택합니다.
    n : 모든 요소를 선택합니다.

 */

 .stripes>:nth-child(4n+2){
    background-color: blueviolet;
 }


