/* 실습1 */
/* div{
  width: 200px;
  height: 100px;
  background-color: black;
  color: white;
  overflow-y: scroll;
}

div:hover{
  width: 300px;
  height: 300px;
  transition: 1s;
  transition-delay: 0.5s;
} */

/* 실습2 */
/* div{
  position: relative;
}
img{
  width: 300px;
  height: 200px;
  transform: rotateY(20deg);
  transform: skewY(20deg);
}
.img1{
  position: absolute;
  top: 150px;
  left: 30%;
}
.img2{
  position: absolute;
  top: 150px;
  left: 20%;
}
.img3{
  position: absolute;
  top: 150px;
  left: 10%;
}


img:hover{
  transform: rotate(0deg);
  transform: skewY(0deg);
  transition: transform 0.5s;
  z-index: 10;
} */


/* 이미지 연달아 나열하기 */
img {
  width: 300px;
  height: 200px;
}

.container {
  width: 1000px;
  height: 500px;
  background-color: #e7e7e7;
  position: relative;
}

.beach {
  position: absolute;
  transform: skewY(30deg);
  transition: 1s;
  cursor: pointer;
}

.beach:hover {
  transform: skew(0);
}

.beach1 {
  top: 180px;
  left: 200px;
  z-index: 3;
}

.beach2 {
  top: 150px;
  left: 350px;
  z-index: 2;
}

.beach2:hover {
  z-index: 3;
}

.beach3 {
  top: 120px;
  left: 500px;
}

.beach3:hover {
  z-index: 3;
}


/* transform 함수 여러개 사용  */
/* .box {
  width: 100px;
  height: 100px;
  background-color: skyblue;
  transition: 1s;
  border: 1px solid black;
  box-sizing: border-box;
  cursor: pointer;
}

.box1:hover {
  transform: translateX(50px) scaleX(2);
  width: 200px;
}

.box2:hover {
  transform: translateX(50%) skewX(-45deg);
}

.box3:hover {
  border-radius: 50%;
  background-color: red;
  transform: translateX(300px) rotate(180deg);
}

.box4:hover {
  transform: translateY(50px) perspective(200px) rotateY(360deg) scale(2);
  background: yellow;
} */