body{
  /* background-color: aqua; */
  margin: 0;
  padding: 0;
}

/* 공 움직이기 */
.ball1{
  width: 100px;
  height: 100px;
  background: linear-gradient(45deg, yellow, orange, 70%, orangered);
  box-shadow: -5px 5px 10px inset rgba(51, 51, 51, 0.407);
  border-radius: 50%;

  /* animation: move-ball 5s linear infinite; */
  animation-name: move-ball;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes move-ball{
  0%{
    transform: translate(0%);
  }

  25%{
    /* transform: translateX(100%); */
    transform: translate(calc(100vw - 100px),0);
    
  }

  50%{
    /* transform: translateX(100%) translateY(100%); */
    transform: translate(calc(100vw - 100px), calc(100vh - 100px));
  }

  75%{
    /* transform: translateX(0%) translateY(100%); */
    transform: translate(0,calc(100vh - 100px));
  }

  100%{
    transform: translate(0%);
  }
}

/* 글자 움직이기 */
.move-txt{
  /* animation: move-txt 1s ease-in-out ; */
  /* width: 100%; */
  animation: 3s move-txt;
}

@keyframes move-txt{
  0%{
    transform: translateX(100%);
    width: 300%;
  }
  100% {
    transform: translateX(0px);
    width: 100%;
  }

}

