<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>
<body>
  <h1><%= title %></h1>
  <form action="/login" method="post">
    <input type="text" name="userid" placeholder="아이디" /><br />
    <input type="password" name="userpwd" placeholder="비밀번호" /><br />
    <button type="submit">로그인</button>
  </form>
  <a href="/user/signup">회원가입 페이지로 가기</a>
</body>
</html>