<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/static/css/thumbnail.css" />
</head>
<body>
    <h1><%= title %></h1>

    <h2>Single file upload</h2>
    <!-- multer 이용 시, 반드시 enctype="multipart/form-data" 의 폼이어야 한다 -->
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="userfile"><br>
        <input type="text" name="title">
        <button type="submit">업로드</button>
    </form>

    <h2>Multy file upload</h2>
    <!-- /upload/array 경로변경, name="userfiles" 변경, multiple 추가  -->
    <form action="/upload/array" method="POST" enctype="multipart/form-data">
        <input type="file" name="userfiles" multiple ><br>
        <input type="text" name="title">
        <button type="submit">업로드</button>
    </form>

    <h2>Multy file upload case2</h2>
    <!-- /upload/array 경로변경, name="userfiles" 변경, multiple 추가  -->
    <form action="/upload/fields" method="POST" enctype="multipart/form-data">
        <input type="file" name="kiwi" ><br>
        <input type="text" name="title1"><br>
        <input type="file" name="orange" ><br>
        <input type="text" name="title2"><br>
        <button type="submit">업로드</button>
    </form>

    <!-- 동적 파일 업로드 -->
    <h2>프로필사진바꾸기</h2>

    <!-- 썸네일 업로드 내용을 바로 업로드 -->
    <img class="thumbnail" src="/uploads/profile.jpg" alt="" /><br />

    <input type="file" name="thumbnail" id="thumbnail" />
    <button type="button" onclick="uploadThumbnail()">등록</button>


    <!-- 실습 -->
     <h2>파일업로드 실습</h2>
     <form action="/join" method="post" enctype="multipart/form-data">
        <input type="text" name="id" placeholder="아이디"/><br />
        <input type="password" name="password" placeholder="비밀번호"/><br />
        <input type="text" name="userName" placeholder="이름" /><br />
        <input type="number" name="age" placeholder="나이"/><br />
        <input type="file" name="profile" id="profile" /><br />
        <button type="button" onclick="uploadProfile()">회원가입</button>
     </form>

     <div>
        <img class="profile" src="" alt="" />
        <span>님 환영합니다!</span>
        <span>비밀번호 : </span>
        <span>이름 : </span>
        <span>나이 : </span>
     </div>

     <script src="static/js/thumbnail.js"></script>
</body>
</html>