<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>실습</title>
</head>
<body>
  <h1><%= title %></h1>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <input type="text" name="userId" placeholder="아이디" required /><br />
    <input type="password" name="userPw" placeholder="비밀번호" required /><br />
    <input type="text" name="userName" placeholder="이름" required /><br />
    <input type="number" name="userAge" placeholder="나이" required /><br />
    <input type="file" name="userFile" required /><br />
    <button type="submit">회원가입</button>
  </form>
</body>
</html>